<section class="home-view">
  <section>
    <h2 class="page-title">Projects</h2>
    <div class="projects-list"></div>
  </section>
  <hr class="separator" />
  <section>
    <h2 class="page-title">Create a project</h2>
    <form class="form">
      <div class="input-group">
        <label for="name">Name</label>
        <input type="name" id="name" placeholder="Write project's name" />
      </div>
      <button type="submit" class="btn-default">Create</button>
    </form>
  </section>
</section>
